*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Source Sans Pro',sans-serif;
}
.topo{
    position:fixed;
    background-color: #ffffff;
    border-bottom:1px 1px 2px solid #0000001f;
    width:100%;
    height:100px;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
}
.conteudo-topo{
    width:1024px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px;
}
.conteudo-topo a{
    text-decoration:none;
    color:#333;
    font-size: 25px;
}
span{
    color:blue;
}

.links-topo a{
    margin-left: 50px;
}

/* secao banner */
.secao-banner{
    height:100vh;
    background-image: url('assets/img-fundo.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.conteudo-banner{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.fundo-transparente{
    width: 500px;
    height: 200px;
    background-color: #21a38b8c;
    color:#fff;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
    border: 1px solid #fff;
    border-radius:5px;
}
.fundo-transparente h1{
    font-size:50px;
}
.fundo-transparente p{
    font-size:27px;
    text-shadow: 0 0 2px #000;
}

/* secao introdução */

.secao-introducao{
    width: 100%;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color:#333;
}

.secao-introducao h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.secao-introducao p{
    font-size: 18px;
    line-height:30px;
}
.secao-quartos img{
    width:300px;
    border-radius:2px;
    margin-bottom: 10px;
    margin-right: 30px;
}
.secao-quartos p{
    text-align: center;
    font-size:20px;
    border-bottom: 1px solid #333;
    width: 300px;
    color: #333;
}
.secao-quartos{
    width:100%;
    height: 300px;
    display:flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap:wrap;
    gap:10px;
}
.container-fotos div{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-fotos .secao-coluna{
    width: 300px;
}
.pRecepcao{
    width: 300px;
}
.container-fotos div h3{
    width: 300px;
    margin-bottom: 20px;
}
.container-fotos p{
    font-size: 15px;
}
.secao-coluna{
    display: flex;
    flex-direction: column;
} 
.container-fotos{
    height: 85vh;
    width:1124px;
    margin:0 auto;
}
.container-fotos img{
    width: 100px;
    height: 120px;
}

/* seção rodape */

.secao-rodape{
    background-color: #21a38b;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px solid #33333344;
}

.cont-rodape{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
}
.cont-rodape p, a{
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}
.copy{
    background-color: #21a38b;
    width:100%;
    text-align: center;
}
.copy p{
    color: #fff;
    padding: 10px;
}
h4{
    color: #fff;
    font-size: 20px;
}



